{% extends 'layout/menu.html.twig' %}

{% import 'macro/form.html.twig' as form %}

{% block content %}
<section class="page__content bg-white box__shadow">
	<div class="breadcrumbs__wrap">
		<span class="breadcrumbs__item">Štítky</span>
	</div>
	<div class="section">
		<div class="js-table-wrapper">
			<table class="table">
				<thead>
					<tr>
						<th>Název</th>
						<th class="text-right">
							<a href="/label/new" class="btn btn-colored primary-bg">Přidat</a>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
					<tr>
						<td>{{ item.name }}</td>
						<td class="text-right">
							<a href="/label/edit/{{ item.id }}" title="Upravit" class="btn btn-icon btn-rounded smaller-icon">
								<span class="svg__container">
									<svg class="svg__icon svg__content">
										<use xlink:href="/assets/img/svg/svg.svg#edit" x="0" y="0" width="100%" height="100%" />
									</svg>
								</span>
							</a>
							<a href="/label/delete/{{ item.id }}" title="Smazat" class="js-confirm btn btn-icon btn-rounded">
								<span class="svg__container">
									<svg class="svg__icon svg__content">
										<use xlink:href="/assets/img/svg/svg.svg#close" x="0" y="0" width="100%" height="100%" />
									</svg>
								</span>
							</a>
						</td>
					</tr>
					{% endfor %}
					{% if items is empty %}
					<tr>
						<td colspan="2" class="table__no-items">
							<span>Žádné položky k zobrazení.</span>
						</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}

{#
	<h1>Štítky</h1>
	<h2>Přehled</h2>
	<table>
		<thead>
			<tr>
				<th>Název</th>
				<th>
					<a href="/label/new">Přidat</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				<td>{{ item.name }}</td>
				<td>
					<a href="/label/edit/{{ item.id }}">Upravit</a>
					<a class="js-confirm" href="/label/delete/{{ item.id }}">Smazat</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if items is empty %}
	<p><i>Žádné položky k zobrazení.</i></p>
	{% endif %}
	#}