{% extends 'layout/no_menu.html.twig' %}

{% import 'macro/form.html.twig' as form %}

{% block content %}
<section class="layout__box-wrap">
  <div class="layout__box-content">
    <div class="layout__box-img">
      <img src="/assets/img/logo{{ subdom }}.svg" alt="Finettte s.r.o." />
    </div>
    <h1 class="layout__box-title">Volba role</h2>
    <ul class="choose__list">
      {% for role in roles %}
        <li data-value="{{ role }}" class="choose__list-item">{{ role }}</li>
      {% endfor %}
    </ul>
    <div class="hidden">
      <form action="/user/ajax_role" data-name="user_role" novalidate>
        {{ form.select('Role', 'role', [{
          'type' : 'empty',
          'text' : 'Musíte vybrat roli'
        }, {
          'type' : 'valid',
          'text' : 'Neplatná role'
        }], roles) }}
        {{ form.submit('Vybrat', 'Vybírám...') }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
{% block pageJavascript %}
<script>
  $(document).on('click', '.choose__list-item', function() {
    var input = $(".js-select"),
        liOption = $(this).attr("data-value");

    input.val(liOption);
    input.closest('form').submit();
});
</script>
  <!-- <script>
    $(document).on('click', '.choose__list-item', function() {
        var input = $(".js-select"),
            liOption = $(this).attr("data-value");

        console.log(input, liOption);

        input.attr('value', liOption);

        console.log(input.val());

        input.closest('form').submit();
    });
  </script> -->
{% endblock %}
