{% extends 'layout/no_menu.html.twig' %}

{% import 'macro/form.html.twig' as form %}

{% block content %}
<section class="layout__box-wrap">
  <div class="layout__box-content">
    <div class="layout__box-img">
      <img src="/assets/img/logo{{ subdom }}.svg" alt="Finettte s.r.o." />
    </div>
    <h1 class="layout__box-title">Obnovení hesla</h2>
    <span class="layout__box-subtext">Krok 2/2</span>
    <form action="/user/ajax_recovery_password" data-name="user_recovery_password" novalidate>
      {{ form.input('Nové heslo', 'password', [{
        'type' : 'empty',
        'text' : 'Musíte vyplnit nové heslo'
      }, {
        'type' : 'valid',
        'text' : 'Nové heslo je stejné jako původní'
      }], null, 'password', false, 'password') }}
      {{ form.input('Nové heslo znovu', 'password_check', [{
        'type' : 'empty',
        'text' : 'Musíte vyplnit nové heslo znovu'
      }, {
        'type' : 'valid',
        'text' : 'Nová hesla se neshodují'
      }], null, 'password', false, 'password') }}
      <div class="form__button-wrap button-wrap-vertical">
        {{ form.hidden('token', token) }}
        {{ form.submit('Obnovit', 'Obnovuji...') }}
        <a href="/user/login" class="grey-link smaller-link" title="Přihlásit se">Přihlásit se</a>
      </div>
    </form>
  </div}>
</section>
{% endblock %}
