{% import 'macro/form.html.twig' as form %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {{ form.input('Název', 'name', [{
      'type' : 'empty',
      'text' : 'Musíte vyplnit název'
    }], name) }}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {{ form.input('Číslo účtu', 'no', [{
      'type' : 'empty',
      'text' : 'Musíte vyplnit název'
    }, {
      'type' : 'format',
      'text' : 'Špatný formát čísla účtu'
    }, {
      'type' : 'valid',
      'text' : 'Neplatné číslo účtu'
    }], no) }}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {{ form.input('Kód banky', 'code', [{
      'type' : 'empty',
      'text' : 'Musíte vyplnit kód banky'
    }, {
      'type' : 'format',
      'text' : 'Špatný formát kódu banky'
    }], code) }}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {{ form.select('Měna', 'currency_id', [{
      'type' : 'empty',
      'text' : 'Musíte vybrat měnu'
    }], currencies, currency_id) }}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {{ form.input('IBAN', 'iban', [{
      'type' : 'empty',
      'text' : 'Musíte vyplnit IBAN'
    }, {
      'type' : 'format',
      'text' : 'Špatný formát IBAN'
    }], iban) }}
  </div>
</div>
  