<div class="stockbar__wrap">
  <div class="stockbar__item" data-free data-value="{{ product.pcs_free }}" style="width: {{ product.pcs_free_percent }}%"></div>
  <div class="stockbar__item" data-reservered data-value="{{ product.pcs_reserved }}"  style="width: {{ product.pcs_reserved_percent }}%"></div>
  <div class="stockbar__item" data-sold data-value="{{ product.pcs_sold }}" style="width: {{ product.pcs_sold_percent }}%"></div>
</div>